.Root {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 24px;
}

.RootSmall {
    margin: 0 16px 0 0;
}

.IconButton {
    margin: 24px;
    transition: 1s ease-in-out;
    transform: scale(1);
}

.IconButtonSmall {
    margin: 12px;
    transition: 1s ease-in-out;
    transform: scale(0.7);
}

.Icon {
    color: #00636e;
    margin: 4px;
}
