.Root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #00a3b1;
    box-shadow: inset 0px -15px 10px -15px #00000066;
    height: 512px;
}

.TopContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1024px;
    height: 432px;
    padding: 32px 64px;
}

.Avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006f7c;
    border-radius: 128px;
    width: 256px;
    height: 256px;
    margin-right: 48px;
    font-size: 96px;
    color: white;
}

.Greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-left: 48px;
    font-size: calc(256px / 4);
    height: 256px;
}

.Cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardsContent {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 1400px;
    height: 800px;
    padding: 64px 32px;
    margin-top: -48px;
}

.Card {
    flex: 1;
    text-align: center;
    height: 384px;
    margin-left: 32px;
    margin-right: 32px;
}

.CardImage {
    height: 256px;
}

.CardText {
    display: flex;
    flex-direction: column;
    height: calc(384px - 256px);
    text-align: center;
    vertical-align: middle;
}
